@(periodos: List[Periodo], grade: List[Disciplina])

@import helper._ 
@import controllers._

@main("Meu curso") {


<div class="wrapper" style="height: 100%;">
	<div class="titulo">
		<nome-principal>Meu Curso</nome-principal>
	</div>
	<br/>	
	<div id="colunas" >
		@for(periodo <- periodos){
			<div id="c1" class="coluna" style="height: 130%;">
			@for(disciplina <- periodo.getDisciplinas()){
				<div class="disciplina">
					<nome>@disciplina.getNome()</nome><br/>
					<descricao>@disciplina.getCreditos() creditos</descricao>
				</div>
			}
			</div>
		}

	</div>
	<div class="titulo">
			<nome-principal>Disciplinas Ofertadas</nome-principal>
	</div>
	<br/>	

        <div id="grade">
           @for(disciplina <- grade){
               <div class="disciplina float-left">
                
                    <form id="addCadeira" method="POST" action="@routes.Application.addDisciplina()">
                    <nome>@disciplina.getNome()</nome><br/>
                    <descricao>@disciplina.getCreditos() creditos</descricao>
                    <br>
                    <label><small>Período:&nbsp;</small></label><select name="periodo">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                </select>
                                        <input name="nomeDisciplina" type="hidden" value="@disciplina.getNome()">
                                        <button type="submit" class="btn btn-success btn xs">
                                                 Adicionar
                                        </button>
                                </form>

               </div>
         }
         </div>
</div>



}
